@model Mbo.Models.Employee
@{
    ViewBag.Title = "Edit";
}
<style type="text/css">
    .prashil {
        background-color: indigo;
        height: 120px;
        color: white;
    }

    .aryal {
        padding-top: 20px;
    }

    .submitButton {
        color: indigo;
    }
</style>

<h2>Update</h2>
@using (Html.BeginForm("UpdateData", "Prashil"))
{
    <div class="prashil">
        <input type="hidden"name="empID" class="form-control" value="@(Model.empID)" />
        <label class="col-md-2">Name</label>
        <div class="col-md-4">
            <input type="text" name="empName" class="form-control" value="@(Model.empName)" />
        </div><br />
        <label class="col-md-2">Address</label>
        <div class="col-md-4">
            <input type="text" name="empAddress" class="form-control" value="@(Model.empAddress)" />
        </div><br />
        <label class="col-md-2">Contact</label>
        <div class="col-md-4">
            <input type="text" name="empContact" class="form-control" value="@(Model.empContact)" />
        </div><br />
        <input type="submit" name="Submit" class="submitButton" />
    </div>
}

