
@{
    ViewBag.Title = "esdCreate";
}

<h2>esdCreate</h2>
@using (Html.BeginForm("esdCreate", null, FormMethod.Post))
{
    <h3>Employee_Salary_Details</h3>
    <label class="col-md-2">Name</label>
    <div class="col-md-4">
        <input type="text" name="empName" class="form-control" />
    </div>
    <br />
    <label class="col-md-2">Salary Paid</label>
    <div class="col-md-4">
        <input type="text" name="salaryPaid" class="form-control" />
    </div>
    <br />
    <label class="col-md-2">Paid Date</label>
    <div class="col-md-4">
        <input type="date" name="paidDate" class="form-control" />
    </div>
    <br />
    <input type="submit" name="save" value="Submit" class="submitButton" />
}